%nav.navbar.navbar-expand-lg.navbar-light.bg-light.d-flex.justify-content-between
  = link_to 'Todo list', '#', class: 'navbar-brand'
  %ul.navbar-nav
    %li.nav-item= link_to 'Home', '#', class: 'nav-link'
    %li.nav-item= link_to 'Log in', '#', class: 'nav-link'
    